# Copy-paste below lines at the end of ~/.bashrc file and run $source ~/.bashrc
##################################
#          Zois aliases          #
##################################
	 
alias keygen="ssh-keygen -t rsa -b 2048"
alias cp-keygen="ssh-copy-id root@10.10.111.77"


alias vm-root="ssh root@10.10.111.77"
alias vm-roms="ssh roms@10.10.111.77"
alias mount-requirements-locally="sshfs root@10.10.111.77:/var/www/html/redmine/ /home/zois/Documents/Redmine_on-server && sshfs root@10.10.111.77:/root/python/ /home/zois/Documents/Python_on-server"
alias mount-redmine="sshfs root@10.10.111.77:/var/www/html/redmine/ /home/zois/Documents/Redmine_on-server"
alias mount-python="sshfs root@10.10.111.77:/root/python/ /home/zois/Documents/Python_on-server"
alias unmount-requirements="fusermount -u /home/zois/Documents/Redmine_on-server && fusermount -u /home/zois/Documents/Python_on-server"
alias unmount-redmine-force="sudo umount -l /home/zois/Documents/Redmine_on-server"
alias unmount-python-force="sudo umount -l /home/zois/Documents/Python_on-server"


alias cd-utilities="cd /home/zois/Documents/Internship/utilities"
alias cd-redmine="cd /home/zois/Documents/Redmine_on-server"
alias cd-redmine-js="cd /home/zois/Documents/Redmine_on-server/public/themes/neurosoft/javascripts/"
alias cd-python="cd /home/zois/Documents/Python_on-server"


alias good-morning="/home/zois/Documents/Internship/utilities/./good-morning.sh"
alias edit-day-message="/home/zois/Documents/Internship/utilities/./edit-day-message"
alias startupMail="/home/zois/Documents/Internship/utilities/./startupMail"
alias aliases="/home/zois/Documents/Internship/utilities/./aliases"
alias edit-todo="/home/zois/Documents/Internship/utilities/./edit-todo"
alias todo="/home/zois/Documents/Internship/utilities/./todo"
alias remote-update-redmine="/home/zois/Documents/Internship/utilities/./update-redmine"
alias toggle-touchpad="/home/zois/Documents/Internship/utilities/./toggle-touchpad"
alias bright="/home/zois/Documents/Internship/utilities/./adjust-brightness"
alias fix="/home/zois/Documents/Internship/utilities/./fixer"
alias pys="/home/zois/Documents/Internship/utilities/./start-remote-python-server.sh"


alias nano-help="nano /home/zois/Documents/classified/other/help"


alias wmax="xdotool key super+Up"
alias wmin="xdotool key super+Down"
alias wleft="xdotool key super+Left"
alias wright="xdotool key super+Right"
alias spam-mail="/home/zois/Documents/Internship/utilities/spam-mail.sh"
